body{
    text-align: center;
    font-family:"Arial";
    color: #333; 
    background: #1e1f24;   
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
background:#37488b;
color: white;  
 
margin: 0;
box-shadow: 0px 2px 20px 0px rgba(10,10,250,1);
font-weight: bold;
padding: 0.5em;

}

#cabecera #logo{
    width: 30px;
    vertical-align: middle;

}
#post{
    background:white;
    padding: a;
    font-size: 20px;
}
#cabecera #tagline{
    padding: 0 0 0 5em;
    font-weight: normal;
    font-size: 0.7em;

}

#centrarimg{
    background-color: black;
    align-content: center;
}
#post #suscribete{

    text-align: center;
    background-color: rgba(50,77,250,1);
    font-size:  25px;
    font-weight: 900;
    color: rgb(255, 255, 255);

}

#container{
    box-shadow: 0px 2px 20px 10px rgba(50,77,250,1);
    width: 70%;
    padding: 1em;  
    background: white;
    color:rgb(0, 0, 0); 
    text-align:justify;
    border: 1px solid rgb(29, 4, 173);
    margin: 0 auto;

}
#container h1{
    color:black;
    text-align: left ;
    font-size: 45px;
}
#container h2{
    color:rgb(202, 8, 8);
    text-align: center ;
    font-size: 25px;
}
#containerimg{
   
   
    background: white;
    color:rgb(68, 65, 65); 
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;

}